In [3]:
import csv
import sqlite3
# import pandas as pd
conn=sqlite3.connect('demo.db')
# cursor=conn.cursor()
print("Opened Database Sucessfully");

Opened Database Sucessfully

In [ ]:
conn.execute("create table company(ID int primary key not null,Name text not null,Age int not null,Address char(50),salary real);")
print("Table Created")

In [ ]:
conn.execute("insert into company(ID,Name,Age,Address,salary) values(1,'A',25,'california',5000.00),(2,'B',20,'TexAs',20000.00),(3,'C',21,'Norway',65000.00),(4,'D',26,'Rich-mond',75000.00);")
conn.commit()
print("Record Insert")

In [ ]:
cursor=conn.execute("Select id,name,address,salary from company;")
for row in cursor:
    print("ID = ",row[0])
    print("Name = ",row[1])
    print("Address = ",row[2])
    print("Salary = ",row[3],"\n")
print("Operation Done Sucessfully")

In [ ]:
conn.execute("update company set salary=250000.00 where ID=1;")
conn.commit()

In [ ]:
conn.execute("Delete from company where ID=2;")
conn.commit()
conn.close()

In [ ]:
conn.execute("create table temp(ID int primary key not null,Name text not null);")
print("Table Created")

In [5]:
file=open('DEMO.csv')
contents=csv.reader(file)
insert_records="insert into temp(ID,Name) values (?,?)"
conn.executemany(insert_records,contents)

In [6]:
cursor=conn.execute("select * from temp;")
for row in cursor:
    print("ID = ",row[0])
    print("Name = ",row[1],"\n")

ID =  1
Name =  A

ID =  2
Name =  B

ID =  3
Name =  C

ID =  4
Name =  D

ID =  5
Name =  E